@use '@angular/material' as mat;
@use 'sass:map';
@use '../theme-colors' as custom;
// =======================
// 1. Tema claro (por defecto)
// =======================
html {
  @include mat.theme((
    color: (
      primary:mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
  
} 

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

 }

.bg-coffe-dark{
  background: #84692c !important;
  color: rgb(255, 252, 245) !important;
}

.bg-coffe-media-dark{
  background: #d4c7a8 !important;
  color: #362806 !important;
}

.bg-coffe{
   background-color: #fffcf5 !important;
}

h1,h2,h3,h4,h5,h6,p{
  color: #6c3d33 !important;
}

h1{
  font-weight: 400 !important;

}